@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .nav-link-active {
    @apply text-zinc-900 hover:text-zinc-800 transition-colors;
  }
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.wrapper {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 15px;
}
